.inLine {
    display: inline-block;
}

.inLine2 {
    display: inline-block;
    float: right;
    margin-right: 10px;
}

.wrapper {
    margin: 0 auto 0 auto;
    padding-bottom: 10px;
    position: relative;
    text-align: center;
    width: 55%;
}

body {
    text-align: center;
    background-image: url("img/bg.jpg");
    background-color: #ffffff;
    color: #fff;
    text-shadow: 2px 2px 1px #000;
}

ul {
    border:none;
    padding: 0;
    margin: 0;}

li {
    background-color: #D03030;
    color: #fff;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    font-size: 24px;
    letter-spacing: .05em;
    list-style-type: none;
    text-shadow: 2px 2px 1px #000;
    text-align: left;
    height: 50px;
    padding-left: 10px;
    padding-top: 10px;}

.completed {
    background-color: #999;
}

.menu {
    margin-top: 10px;
}
